*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image:url(./img/img3.jpeg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    padding:0;
    margin: 0;
}
.overlay{
    border: 0px solid black;
    height: 800px;
    min-width: 800px;
    background-color:rgba(10, 10, 10, 0.8);
    z-index:-2;
 }
 .nav{
     text-align: right;
     padding: auto;
 }
header>.overlay>.nav>ul>li{
    display:inline-block;
    padding: 20px;
   
}
header>.overlay>.nav>ul>li>a{
    text-transform: uppercase;
    text-decoration: none;
    color: #F4FBF2;
    display: block;     
}
.home{
    margin-bottom: 0px;
}
.about{
    background-color:#F4FFF9;
    margin-top: -1.3em;
    min-height: 50vh;
    padding-left: 10px;
    padding-top: 30px;
}
.about-container{
    display: flex;
    flex-direction: row;

}
.content, .img1{
    width: 50%;
}
.rounded-image{
    border-radius: 5px;
    box-shadow:10px 10px 5px rgba(0,0,0,0.4);
}
.content{
    justify-content: center;
    display: block;
    padding-top:10px;
    font-family:Arial, Helvetica, sans-serif;  
}
li{
    list-style-type:none;
}
.imagem{
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow:10px 10px 5px rgba(0,0,0,0.4); 
}
p{
    line-height:0.8cm;
}
.maasai{
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 30px;
}
.image2{
    height: 250px;
    float:right;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow:10px 10px 5px rgba(0,0,0,0.4);
}
#mm{
    font-size: 20px;
}
#mmm{
    margin-top:30px ;
    padding-bottom: 10;
}
.wrap{
    /* background-color: red; */
    width:1200px;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.card{
    text-align: center;
    text-transform: uppercase;
    padding:30px;   
}
